<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
class="h-full bg-[#f6f2ef]">
<head>

  <div th:replace="~{fragments/head}"></div>

  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>RiskRegisterHQ</title>
    <meta name="description" content="Risk Register & Compliance Platform" />
</head>
  <body class="h-full">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <main class="min-h-screen py-12">
        <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  
        
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <!-- <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> -->
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Create your RiskRegisterHQ account</h2>
          
        </div>
  
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm" th:if="${errorTitle != null}">
          <div class="rounded-md bg-red-50 p-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                </svg>
              </div> 
              <div class="ml-3">
                <h3 class="text-sm font-medium text-red-800" th:text="${errorTitle}"></h3>
                <div class="mt-2 text-sm text-red-700">
                <div class="text-sm text-red-700">
                  <p th:text="${errorMessage}"></p>
                </div>
                <!-- <div class="mt-4">
                  <div class="-mx-2 -my-1.5 flex">
                    <button type="button" class="rounded-md bg-red-50 px-2 py-1.5 text-sm font-medium text-red-800 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 focus:ring-offset-red-50">View status</button>
                    <button type="button" class="ml-3 rounded-md bg-red-50 px-2 py-1.5 text-sm font-medium text-red-800 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 focus:ring-offset-red-50">Dismiss</button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
  
        </div>
        
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm" th:if="${successTitle != null}">
          <div class="rounded-md bg-green-50 p-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                </svg>
              </div> 
              <div class="ml-3">
                <!-- <h3 class="text-sm font-medium text-green-800" th:text="${successTitle}"></h3> -->
                <!-- <div class="mt-2 text-sm text-green-700"> -->
                <div class="text-sm text-green-700">
                  <p th:text="${successMessage}"></p>
                </div>
                <!-- <div class="mt-4">
                  <div class="-mx-2 -my-1.5 flex">
                    <button type="button" class="rounded-md bg-green-50 px-2 py-1.5 text-sm font-medium text-green-800 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">View status</button>
                    <button type="button" class="ml-3 rounded-md bg-green-50 px-2 py-1.5 text-sm font-medium text-green-800 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">Dismiss</button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      
           <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow-sm sm:rounded-lg sm:px-12">
          <form class="space-y-6" th:action="@{/create-user-magic}" method="POST" th:object="${user}" data-turbo="false" x-data="{ isLoading: false }" @submit="isLoading = true">
  
            <div>
              <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
              <div class="mt-2">
                <input id="email" name="email" type="email" th:field="*{email}" required  autocomplete="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6">
              </div>
            </div>
      
            <!-- <div>
              <div class="flex items-center justify-between">
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                <div class="text-sm">
                  <a href="#" class="font-semibold text-sky-600 hover:text-sky-500">Forgot password?</a>
                </div>
              </div>
              <div class="mt-2">
                <input id="password" name="password" type="password" th:field="*{password}"  autocomplete="current-password" required minlength="6" maxlength="64" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6">
              </div>
            </div> -->
  
            <div>
                <label for="firstName" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
                <div class="mt-2">
                  <input id="firstName" name="firstName" type="text" autocomplete="firstName" th:field="*{firstName}" required minlength="2" maxlength="20" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6">
                </div>
              </div>
  
  
              <div>
                <label for="lastName" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
                <div class="mt-2">
                  <input id="lastName" name="lastName" type="text" autocomplete="lastName" th:field="*{lastName}" required minlength="2" maxlength="20" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6">
                </div>
              </div>

              <div>
                <label for="organizationName" class="block text-sm font-medium leading-6 text-gray-900">Organization Name</label>
                <div class="mt-2">
                  <input id="organizationName" name="organizationName" type="text" placeholder="Acme Corp" required minlength="2" maxlength="100" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-1 text-xs text-gray-500">You can invite team members after signing up.</p>
              </div>


            <div>
              <button type="submit" :disabled="isLoading" :class="isLoading ? 'opacity-75 cursor-not-allowed' : 'hover:bg-sky-500'" class="flex w-full justify-center rounded-md bg-sky-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600">
                <span x-show="!isLoading">Sign up</span>
                <span x-show="isLoading" class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-loader-circle-icon lucide-loader-circle w-4 h-4 me-2 text-white animate-spin"><path d="M21 12a9 9 0 1 1-6.219-8.56"/></svg>
                  Signing you up...
                </span>
              </button>
            </div>
          </form>
          </div>
      
          <p class="mt-10 text-center text-sm text-gray-500">
            Already registered?
            <a th:href="@{/login}" class="font-semibold leading-6 text-sky-600 hover:text-sky-500">Log in instead</a>
          </p>
        </div>
  
        </div>
      </main>

      <div th:replace="~{fragments/footer}"></div>
    </div>
</body>
</html>